.profile {
  margin: 50px 0;
}
.profile__breadcrumb {
  margin: 20px 0 10px 0;
}
.profile-settings__link .ant-collapse-header{
  color: #1890ff !important;
  padding: 5px 0 !important;
}
.profile-settings__danger{
  color: rgb(255, 77, 79) !important;
  display: block;
  padding: 5px 0;
}
.profile-edit-form {
  input {
    //&::placeholder {
      animation: fadeIn .7s ease-in;
    //}
  }
  //background: #F0F2F5;
}